.category {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.category .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.category .icon img {
  width: 80%;
  height: auto;
}
.category a{
  color: black;
}
.cursor{
  cursor: pointer;
}
/* .with{
  width: 150px !important;
} */
.obj img{
  width: 250px !important;
  height: 250px !important;
  overflow: hidden;
  display: flex;
  flex: 1;

}